#contact-us{

    min-height: 100vh;
    background: $dark-1;
    padding: 10% 0;


    .contact-us-info{
        @include flexbox(center , center , row);
        flex-wrap: wrap;

        width:100%;


        .contact-us-img, .contact-us-form{
            flex: 1 1 40rem;
            padding: 0 1.5rem;
        }

        .contact-us-img{
            @include flexbox(center , center ,row);

            img{
                animation: zoomInOut 5s linear infinite;
            }

        }

        .contact-us-form{
            form{
                @include flexbox(center , center , column);

                background: $dark-2;
                width: 100%;

                padding: 3rem;
                border-radius: 0.4rem;
                box-shadow: $shadow;
                margin: auto;

                input, textarea{
                    height: 4.5rem;
                    width: 100%;
                    display: block;
                    margin-bottom: 3rem;
                    padding: 0 1.5rem;

                    border-radius: 2rem;
                    background: $dark-1;

                    border: 1px solid transparent;
                    font-size: 1.6rem;
                    color: $white-color-1;
                    font-weight: 300;

                    transition: all 0.5s ease;
                    font-family: inherit;

                    &::placeholder{
                        color: $white-color-2;
                    }

                    &:focus{
                        border-color: $main-color;
                    }
                }

                textarea{
                    height: 12rem;
                    resize: none;
                    padding-top: 1.5rem;
                }

                .btn{
                    width: 100%;
                    height: 4.5rem;
                }

            }
        }
    }

}