// courses section

#courses{
    padding: 5% 0;
    background: $dark-1;


    .course-items{
        @include flexbox(center , center , row);
        flex-wrap: wrap;

        .course-item{
            flex: 1 1 30rem;

            position: relative;

            margin: 0 1.5rem 3rem;


            .course-img{
                border-radius: 0.4rem;
                overflow: hidden;


                transition: all 0.3s ease;

                img{
                    width: 100%;
                }
            }
            &:hover .course-img{
                transform: scale(0.97);
                box-shadow: $shadow;
            }

            .course-price{

                position: absolute;
                top: 1rem;
                left: 1rem;
                background: $dark-2;
                color: $main-color;
                font-size: 1.6rem;
                font-weight: 500;

                padding: 0.5rem 1rem;
                border-radius: 0.4rem;
            }

            .course-info{

                padding: 1.5rem 1rem;

                ul{
                    @include flexbox(space-between , center , row);


                    li{
                        color: $white-color-1;

                        font-size: 1.4rem;
                        text-transform: capitalize;

                        .fa-star{
                            color: $color-1;
                        }
                    }
                }

                h3{
                    font-size: 2rem;
                    font-weight: 400;
                    text-transform: capitalize;
                    color: $white-color-2;
                    margin: 1rem 0;
                }
            }
        }
    }

    .load-more{
        width: 100%;
        @include flexbox(center , center ,row);
    }
}