footer{
    background: $dark-2;
    padding: 5% 0;

    .row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;


        .footer-item{
            flex: 1 1 25rem;
            padding: 2rem;
            margin: 2rem 0;
            min-height: 280px;

            h2{
                color: $white-color-1;
                font-size: 1.8rem;
                font-weight: 500;
                text-transform: capitalize;
                margin: 0 0 3rem;
            }
        }

        .footer-about{

            
            .social-media-links{
                margin-top: 2rem;

                a{
                    display: inline-block;
                    border: 1px solid transparent;
                    height: 3.5rem;
                    width: 3.5rem;
                    color: $main-color;
                    line-height: 3.5rem;
                    text-align: center;
                    font-size: 1.6rem;
                    transition: all 0.5s ease;
                    border-radius: 50%;
                }
                a:hover{
                    border-color: $main-color;
                }
            }
        }


        .footer-quick-links{
            ul{
                li{
                    a{
                        display: block;
                        color: $white-color-1;
                        padding: 0.8rem 0;
                        text-transform: capitalize;
                        font-size: 1.6rem;
                        transition: all 0.5s ease;
                    }

                    a:hover{
                        color: $main-color;
                    }
                }
            }
        }

        .footer-contact{
            p{
                margin: 0 0 1.5rem;
                position: relative;
                padding-left: 3rem;

                i{
                    position: absolute;
                    left: 0;
                    top: 0.5rem;
                }
            }
        }

        .footer-news{

            input{
                height: 4.5rem;
                width: 100%;
                display: block;
                margin-bottom: 3rem;
                padding: 0 1.5rem;

                border-radius: 2rem;
                background: $dark-1;

                border: 1px solid transparent;
                font-size: 1.6rem;
                color: $white-color-1;
                font-weight: 300;

                transition: all 0.5s ease;
                font-family: inherit;

                &::placeholder{
                    color: $white-color-2;
                }

                &:focus{
                    border-color: $main-color;
                }

            }

            button{
                height: 4.5rem;
                width: 100%;

            }
        }
    }
}

// media query
@media( max-width: 1000px){
    footer{

        padding-bottom: 0;

        .footer-item{
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .footer-news{
            // display: none;
        }
    }
}

@media (max-width: 550px){
    .footer-news{
        display: none;
    }
}