// navbar section
header{
    min-height: 10vh;
    background: $dark-1;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    // bottom border
    border-bottom: 1px solid $dark-2;

    .nav-toggle{
        height: 3.4rem;
        width:4.4rem;
        border: 1px solid $main-color;
        border-radius:0.4rem;
        cursor: pointer;

        @include flexbox(center , center , column);
        display: none;

        span{
            display:block;
            width:2rem;
            height:0.2rem;
            background: $main-color;
            position: relative;
        }

        span::before, span::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: $main-color;
        }

        span::before{
            transform: translateY(-0.6rem);
        }
        span:after{
            transform: translateY(0.6rem);
        }
    }


    #nav-check{
        position: absolute;
        pointer-events: none;
        opacity: 0;
    }
    // checkbox
    #nav-check:focus ~ .nav-toggle{
        box-shadow: 0 0 1rem $main-color;
    }

    // when checkbox clicked hamburger menu
    #nav-check:checked ~ .nav-toggle span{
        background: transparent;
    }

    #nav-check:checked ~ .nav-toggle span::before{
        transform: rotate(45deg);
    }

    #nav-check:checked ~ .nav-toggle span::after{
        transform: rotate(-45deg);
    }


    .logo{
        padding: 0 1.5rem;

        a{
            font-weight: 600;
            font-size: 2.4rem;
            color: $white-color-1;
            text-transform: capitalize;
        }
    }

    nav{
        padding: 0 1.5rem;

        li{
            display: inline-block;
            margin-left: 4rem;

            a{
                font-size: 1.6rem;
                color: $white-color-1;
                // display: block;

                text-transform: capitalize;
                transition: all 0.5s ease;
            }

            a:hover{
                color: $main-color;
            }
        }
    }
}


// media query
@media( max-width: 950px){
    header{

        position:relative;
        nav{
            font-family: inherit;
            width: 100%;
            position: absolute;
            background: $dark-2;
            top: 100%;
            left: 0;

            visibility: hidden;
            opacity: 0;

            ul{
                li{
                    margin: 0;
                    display: block;
                    margin: 1rem 0;

                    padding: 1rem 0;
                }

            }
        }

        #nav-check:checked ~ nav{
            visibility: visible;
            opacity: 1;
        }

        .nav-toggle{
            display: flex;
            margin-right: 1.5rem;
        }

    }
}