// sign up 
.signUp{ 
    
    padding-top:  15%;
    overflow: hidden;

    .container{
        @include flexbox(center , center , column);
    }

    .sign-up-form{
        form{
            @include flexbox(center , center , column);

            background: $dark-2;
            width: 100%;

            padding: 3rem;
            border-radius: 0.4rem;
            box-shadow: $shadow;
            margin: auto;

            input{
                height: 4.5rem;
                width: 100%;
                display: block;
                margin-bottom: 3rem;
                padding: 0 1.5rem;

                border-radius: 2rem;
                background: $dark-1;

                border: 1px solid transparent;
                font-size: 1.6rem;
                color: $white-color-1;
                font-weight: 300;

                transition: all 0.5s ease;
                font-family: inherit;

                &::placeholder{
                    color: $white-color-2;
                }

                &:focus{
                    border-color: $main-color;
                }
            }

            .btn{
                width: 100%;
                height: 4.5rem;
            }

            a{
                font-size: 1.5rem;
                color: white;
                padding-top: 2.5rem;
                transition: all 0.5s ease;
            }

            a:hover{
                color: $main-color;
            }

        }
    }
}