
// why us section 
#why-us{
    background: $dark-1;
    padding: 10% 0;


    .why-us-item{

        width: calc((100% /3) - 3rem );

        margin: 0 1.5rem 3rem;
        padding: 5% 2%;
        border-radius: 0.4rem;
        overflow: hidden;

        position: relative;
        z-index: 1;

        box-shadow: $shadow;


        &:nth-child(1){
            background: $color-1;

        }

        &:nth-child(2){
            background: $color-2;
        }

        &:nth-child(3){
            background: $main-color;
        }

        &::before, &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: $dark-2;
            z-index: -1;
            transition: all 0.5s ease;
        }

        &:hover::before{
            transform: scale(1,0);
        }

        &:hover::after{
            transform: scale(0,1);
        }


        .icon{
            color: $main-color;
            font-size: 3rem;
            margin: 0 0 1rem;

            transition: all 0.5s ease;
        }

        &:hover .icon{
            color: $white-color-1;
        }

        h3{
            color: $white-color-1;
            font-size: 2rem;
            font-weight: 500;
            text-transform: capitalize;
            margin: 0 0 1rem;
        }
    }

    
}