/* fonts  */

// font : fonts.google.com/Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


// variables
$main-color: #24caac;
$color-1: #eaa023;
$color-2: #e91e63;
$dark-1: #24292d;
$dark-2: #2f363e;
$white-color-1: #fff;
$white-color-2: rgba(255, 255, 255, 0.8);
$shadow: 0 0 15px rgba(0, 0, 0, 0.2); 

// mixins
@mixin flexbox( $justify, $align , $direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}


// importing
@import './globalStyles';
@import './animations';
@import './navbar';
@import './home';
@import './why-us';
@import './courses';
@import './achievements';
@import './reviews';
@import './contact';
@import './footer';