@mixin col-prop{

    flex: 1 1 15rem;

    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;

    margin: 3% 0;
    margin-right: 3%;

    padding: 5%;
    letter-spacing: 0.1rem;

    img{
        width:5rem;
        height: 5rem;
        margin-bottom: 20%;
    }

    h4{
        font-size: 1.8rem;
        margin-bottom: 10%;
    }

    p{
        font-size: 1.5rem;
        margin-bottom: 10%;
        letter-spacing: 0.05rem;
    }

    a{
        color: white;
        font-size: 1.2rem;
        font-weight:  bold;
    }

    a:hover{
        color: #fe6f57;
    }


}


#about-us{
    min-height: 100vh;
    text-align: center;

    @include flex(center , center , column);
    width: 80%;
    margin: auto;

    padding: 8% 0;

    .about-us-text{
        @include flex(center , center , column);
        text-align: center;
        padding: 8% 0;

        h3{
            color: $gray-text;
            letter-spacing: 0.2rem;
            font-weight: normal;
            font-size: 2rem;
            margin-bottom: 3%;
        }

        h4{
            font-size: 3rem;
            margin-bottom: 3%;
            color: #3f3f3f;
        }

        p{
            color: $gray-text;
            font-size: 1.5rem;
        }
    }

    .about-us-row {
        
        .about-us-cols{
            @include flex(center , center , row);
            color: #fff;

            text-align: center;
            flex-wrap: wrap;


            .about-us-col1{
                background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url('../../Assets/img/About Us/online-learning.jpg');

                @include col-prop();
            }

            .about-us-col1:hover{

                transition: all 0.2s ease;

                background: linear-gradient(rgba(195, 55, 100 , 0.8), rgba(29, 38, 113, 0.8)), url('../../Assets/img/About Us/online-learning.jpg');

                @include col-prop();

            }


            .about-us-col2{
                background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url('../../Assets/img/About Us/library.jpg');
                

                @include col-prop();
            }

            .about-us-col2:hover{

                transition: all 0.2s ease;

                background: linear-gradient(rgba(195, 55, 100 , 0.8), rgba(29, 38, 113, 0.8)), url('../../Assets/img/About Us/library.jpg');

                @include col-prop();

            }


            .about-us-col3{
                background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url('../../Assets/img/About Us/scholarship.jpg');

                @include col-prop();
            }

            .about-us-col3:hover{

                transition: all 0.2s ease;

                background: linear-gradient(rgba(195, 55, 100 , 0.8), rgba(29, 38, 113, 0.8)), url('../../Assets/img/About Us/scholarship.jpg');

                @include col-prop();

            }

        }
    }
}