#programs{
    min-height: 100vh;
    background: #fff;

    width: 80%;
    margin: auto;
    padding: 10% 0;

    .programs-text{
        @include flex(center , center , column);
        text-align: center;

        h2{
            font-size: 2rem;
            color: $gray-text;
            font-weight: normal;
            letter-spacing: 0.2rem;
            word-spacing: 0.3rem;
            margin-bottom: 5%;
        }

        h3{
            font-size: 3rem;
            color: rgb(22, 22, 22);
        }
    }

    .programs-cards{

        padding: 3% 0;
        @include flex(center , center , row);
        flex-wrap: wrap;

        .programs-card{

            border: 1px solid transparent;
            outline: none;
            flex: 1 1 25rem;

            box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 0px 2px;

            margin: 1%;
            padding: 2%;

            img{
                max-width: 40rem;
                width: 100%;
            }

            img:hover{
                background: #fff;
            }
        }
    }
}